<main role="main" class="container blog-post-detail">
	<script type="text/javascript">
		var tags = "@Html.Sitecore().Field("tags")".split(',');
		$(document).ready(function () {
			var tags = "@Html.Sitecore().Field("tags")";
			$('tagListCntnr').css('display', tags ? 'block' : 'none');
			$('#tagsList').text();
            $('#tagsList').append(
				tags.split(',').map(x=> `<a class="btn btn-info" href="#" role="button">${x}</a>`)
			);
		});
	</script>
	<div class="row">
		<div class="blog-post-detail-card card col-lg-12">
			@Html.Sitecore().Field("image")
			<div class="card-body bg-light">
				<strong class="d-inline-block mb-2 text-success">Design</strong>
				<h3 class="card-title">@Html.Sitecore().Field("title") </h3>
				<div class="mb-1 text-muted">@Html.Sitecore().Field("date") </div>
				@Html.Sitecore().Field("Text")
				<div class="blog-detail-tag-list" id="tagsList" id="tagListCntnr">
					<span class="read-more-heading">Read more: </span>
					<span id="tagsList"></span>
				</div>
			</div>
		</div>
	</div>
</main>