
@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
<!DOCTYPE html>
@{
    Sitecore.Data.Database master = Sitecore.Configuration.Factory.GetDatabase("master");
    Sitecore.Data.Items.Item bsItem = master.GetItem("/sitecore/media library/Files/css/bootstrap-themedmin"),
        bsMedia = new Sitecore.Data.Items.MediaItem(bsItem),
        blgItem = master.GetItem("/sitecore/media library/Files/css/blogsite"),
        blgMedia = new Sitecore.Data.Items.MediaItem(blgItem);
    string bsUrl = Sitecore.StringUtil.EnsurePrefix('/', Sitecore.Resources.Media.MediaManager.GetMediaUrl(bsMedia)),
        blgUrl = Sitecore.StringUtil.EnsurePrefix('/', Sitecore.Resources.Media.MediaManager.GetMediaUrl(blgMedia));
}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="~/assets/css/bootstrap-themed.min.css">
        <link rel="stylesheet" href="~/assets/css/blogsite.css">
    </head>
    <body>
        @Html.Sitecore().Placeholder("phMain")
    </body>
</html>