@{ 
    var item = Sitecore.Context.Database.GetItem("{E838BC5D-B7ED-4227-B69E-6827F9783DC3}");
}
<footer>
	<div class="container">
	  <div class="text-white bg-primary">
        <p class="lead">@Html.Sitecore().Field("Copyright", item)</p>
	  </div>
	</div>
</footer>