@{ 
    var item = Sitecore.Context.Database.GetItem("{E838BC5D-B7ED-4227-B69E-6827F9783DC3}");
}
<header>
    <div class="container">
      <div class="jumbotron text-white @RenderingContext.Current.Rendering.Parameters["cls"]">
        <h1 class="display-3">@Html.Sitecore().Field("SiteTitle", item)</h1>
        <p class="lead">@Html.Sitecore().Field("SubTitle", item)</p>
      </div>
    </div>
  </header>