﻿
@{
    ViewBag.Title = "SOLR Search Component";
}

<main role="main" class="container blog-posts">
  
	<div class="main-search">
			<div class="input-group">
			<input type="text" name="name" id="searchInput" required placeholder="Search this blog">
			<div class="input-group-append">
		
			<button type="button" id="searchButton" class="btn btn-dark">@Sitecore.Globalization.Translate.Text("cmdSearch")</button>
			
			</div>
		</div>
	</div>
  
  
	<br>
  
    <div class="row" id="resultsItem">
    </div>
</main>

<script>
		$(document).ready(function () {
			$("#searchButton").click(function (e) {
				e.preventDefault();
				$.ajax({
					type: "GET",
					datatype: "JSON", url: "@Url.Action("DoSearch", "SolrIndex")",
					contentType: "application/json",
					data: {
						searchText: $("#searchInput").val()
					},
					success: function (result) {
						var resultText = "";
						$('#resultsItem').text(resultText);
						$(result.Results).each(function (index, item) {
							// each iteration
							var url = item.Url.replace(/^.*\/HW\//, '/');
							resultText += `
								<div class="blog-post-card card col-lg-4 col-md-6">
									<img class="card-img-top" src="${item.Image}" alt="Card image cap" style="width: 100%;">
									<div class="card-body bg-light ">
										<strong class="d-inline-block mb-2 text-success">Design</strong>
										<h3 class="card-title">${item.Title}</h3>
										<div class="mb-1 text-muted">${item.Date}</div>
										${item.Short}
										<a href="${url}" class="btn btn-warning btn-block">Read on</a>
									</div>
								</div>
							`;

						});
						$('#resultsItem').append(resultText);
					},
					error: function (result) {
						alert('error');
					}
				});
			});
		});
</script>

